html {
    font-size: 10px;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    color: aliceblue;
    background-color: darkslategray;
}

div {
    box-sizing: content-box;
    border: 1px solid lightgray;
    font-size: 1.8rem;
    padding: 1rem;
    margin: 1rem;
}

input,
button {
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
}

.current-line {
    background-color: lightcyan;
}

.current-line:hover {
    background-color: lightblue;
}

.completed {
    color: lightseagreen;
}

.bad {
    background-color: darkred;
}

.okay {
    background-color: darkgoldenrod;
}

.good {
    background-color: darkcyan;
}
